<h1>Results</h1>



<p>Your guess was <%= @word %></p>


<p>Original words were <%= @letters %></p>

<p>Letter array is <%= @letter_array %></p>

<p>Word array is <%= @word_letters %></p>

<p>Your result is  <%= @congrats %></p>

